<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/market/marketMenuStyle.css">
</head>
<body>
    <input type="checkbox" id="menuicon">
    <label for="menuicon" class="margin-top-20">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="sidebar">
        <div class="side-margin">
            <div class="line-container">
                <img src="/images/store-icon.svg" alt="store_image" class="icon-size"/>
                <div class="length-container">
                    <div class="main-menu">가게 정보</div>
                    <div class="sub-menu">기본 정보</div>
                    <div class="sub-menu">메뉴 정보</div>
                    <div class="sub-menu margin-bottom-30">옵션 정보</div>
                </div>
            </div>
            <div class="line-container">
                <img src="/images/order-icon.svg" alt="store_image" class="margin-top icon-size"/>
                <div class="length-container">
                    <div class="main-menu margin-bottom-30">주문</div>
                </div>
            </div>
            <div class="line-container">
                <img src="/images/review-icon.svg" alt="store_image" class="margin-top icon-size"/>
                <div class="length-container">
                    <div class="main-menu margin-bottom-30">리뷰</div>
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="length-container">
            <div class="line-container">
                <div class="rectangle rectangle-color">
                    <div class="bar-text">기본정보</div>
                </div>
                <div class="rectangle margin-left-20">
                    <div class="bar-text">메뉴등록</div>
                </div>
                <div class="rectangle margin-left-20">
                    <div class="bar-text">옵션등록</div>
                </div>
            </div>
            <br/>
            <form>
                <div class="info-box">
                    <div class="info-text margin-top-15">메뉴 카테고리를 선택해주세요.</div>
                    <input type="text" id="menuCategory" name="menuCategory" class="l-input-box margin-top-10"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>