<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/market/marketOrder.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="market-order-header-div">
        </div>
        <div class="market-order-contents-div">
            <div class="sidebar">
                <ul>
                    <li class="active" onclick="showTab('pending')">
                        <div class="order-status-div">
                            <i class="fa-solid fa-hourglass-start"></i>
                            <p>접수대기</p>
                            <p id="order-status-wait" th:text="|${marketOrderStatus[T(com.back.takeeat.domain.order.OrderStatus).WAIT]}건|">notData</p>
                        </div>
                    </li>
                    <li onclick="showTab('processing')">
                        <div class="order-status-div">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <p>처리중</p>
                            <p id="order-status-accept" th:text="|${marketOrderStatus[T(com.back.takeeat.domain.order.OrderStatus).ACCEPT]}건|">notData</p>
                        </div>
                    </li>
                    <li onclick="showTab('completed')">
                        <div class="order-status-div">
                            <i class="fa-solid fa-user-check"></i>
                            <p>완료</p>
                            <p id="order-status-complete" th:text="|${marketOrderStatus[T(com.back.takeeat.domain.order.OrderStatus).COMPLETE]}건|">notData</p>
                        </div>
                    </li>
                    <li onclick="showTab('list-select')">
                        <div class="order-status-div">
                            <i class="fa-solid fa-list"></i>
                            <p>주문조회</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="order-select-condition-div">
                    <div id="latest" class="active">최신순</div>
                    <div id="oldest">과거순</div>
                </div>
                <div class="order-list">
                    <div th:each="order : ${marketOrdersResponses}" class="order-item">
                        <div class="order-item-top-div" th:text="${#temporals.format(order.orderCreateTime, 'yyyy-MM-dd HH:mm')}"></div>
                        <div class="order-item-bottom-div">
                            <div th:text="'[메뉴 ' + ${order.menuCount} + '개]'"></div>
                            <span data-th-text="${#numbers.formatInteger(order.totalPrice, 0, 'COMMA')}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="order-item-detail-div">
                <div class="order-not-data-string">조회된 주문이 존재하지 않습니다.</div>
            </div>
        </div>
    </div>

    <script src="/js/market/marketOrder.js"></script>
    <script src="/js/market/marketNotification.js"></script>
</body>
</html>