* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    background: #f9f9f9;
}

#contents {
    width: 100%;
    max-width: 600px;
    padding-top: 60px;
    min-height: calc(100vh - 65px);
    background: #ffffff;
}

#titleContainer {
    display: flex;
    align-items : center;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    width: 100%;
    max-width: 600px;
    background: #ffb36f;
}

#backIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#backIcon:hover {
    cursor: pointer;
}

#orderDetailTitle {
    font-size: 25px;
    margin-left: 20px;
}

hr {
    margin: 0px;
}

.orderInfo {
    margin: 20px 10px;
}

#orderStatus {
    color: #ffb36f;
}

#marketName {
    font-size: 18px;
}

.menuContainer {
    margin: 10px;
}

.hrDotted {
    border: 3px dashed gray;
}

#orderMenuTitle {
    margin: 20px 10px;
    font-size: 20px;
}

.nameAndPrice, .optionAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalMenuPrice {
    font-size: 20px;
    text-align: end;
}

.optionPrice, .totalOptionPrice {
    white-space: nowrap;
}

#totalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px 10px;
}

@media (min-width: 601px) {
    body {
        display: flex;
        justify-content: center;
    }
}