<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/order/orderMenuStyle.css">
</head>
<body>

<div id="contents">

    <div id="marketCategory">
        <ul class="list">
            <li><a href="#" class="activeCategory">전체보기</a></li>
            <li><a href="#">치킨</a></li>
            <li><a href="#">피자·양식</a></li>
            <li><a href="#">돈까스·일식</a></li>
            <li><a href="#">족발·보쌈</a></li>
            <li><a href="#">분식</a></li>
            <li><a href="#">중식</a></li>
            <li><a href="#">한식</a></li>
            <li><a href="#">아시안</a></li>
            <li><a href="#">버거</a></li>
            <li><a href="#">카페</a></li>
            <li><a href="#">찜·탕</a></li>
        </ul>
    </div>
    <hr/>

    <div id="marketContainer">
        <div id="marketNameContainer" th:text="${marketMenuResponse.marketResponse.marketName}">가게이름</div>
        <hr/>
        <div id="infoContainer">
            <div id="marketImageContainer"><img id="marketImage" th:src="${marketMenuResponse.marketResponse.marketImage}"/></div>
            <div id="marketInfoContainer">
                <div class="marketRatingContainer">
                    <div class="yellowStar">
                        <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getYellowStarNumber())}">★</block>
                    </div>
                    <div class="grayStar">
                        <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getGrayStarNumber())}">★</block>
                    </div>
                    <div id="marketRating" th:text="${marketMenuResponse.marketResponse.marketRating}">가게평점</div>
                </div>
                <div id="marketAddressContainer">
                    <strong>주소</strong>&nbsp;[[${marketMenuResponse.marketResponse.query}]]&nbsp;[[${marketMenuResponse.marketResponse.addressDetail}]]
                </div>
                <div id="marketNumberContainer">
                    <strong>영업시간</strong>&nbsp;[[${marketMenuResponse.marketResponse.operationTime}]]&nbsp;<strong>전화번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.marketNumber}]]
                </div>
            </div>
        </div>
    </div>

    <div class="tab_content">
        <div class="tabs">
            <input type="radio" class="tabmenu" name="tabmenu" id="tab01" checked>
            <label for="tab01">메뉴</label>
            <input type="radio" class="tabmenu" name="tabmenu" id="tab02">
            <label for="tab02">리뷰 ([[${marketMenuResponse.marketResponse.reviewCount}]])</label>
            <input type="radio" class="tabmenu" name="tabmenu" id="tab03" onclick="showInfoTab()">
            <label for="tab03">정보</label>
        </div>

        <div class="conbox con1">
            <div th:each="menuCategoryId : ${marketMenuResponse.menuCategoryIds}">
                <div class="menuCategoryContainer">
                    <button class="navbar-toggler menuCategoryBtn" type="button" data-bs-toggle="collapse" th:data-bs-target="'#dropdown' + ${menuCategoryId}" th:aria-controls="'dropdown' + ${menuCategoryId}" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="menuCategoryBtnContent">
                            <div th:text="${marketMenuResponse.getMenuCategoryResponse(menuCategoryId).menuCategoryName}">메뉴카테고리명</div>
                            <div><img src="/images/dropdown-icon.svg"/></div>
                        </div>
                    </button>
                </div>
                <div class="collapse navbar-collapse" th:id="'dropdown' + ${menuCategoryId}">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown menuList" th:each="menu : ${marketMenuResponse.getMenuResponses(menuCategoryId)}" th:onclick="|showOptionModal(${menu.menuId})|">
                            <div class="menuListInfo">
                                <div class="menuInfoContainer">
                                    <div><strong>[[${menu.menuName}]]</strong></div>
                                    <div class="menuIntro" th:text="${menu.menuIntroduction}">메뉴설명</div>
                                    <div th:text="${#numbers.formatInteger(menu.menuPrice, 3, 'COMMA') + '원'}">메뉴가격</div>
                                </div>
                                <div class="menuImageContainer"><img class="menuImage" th:src="${menu.menuImage}"/></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="conbox con2">
            <div id="reviewRatingContainer">
                <div id="reviewRatingAvg">
                    <div id="reviewMarketRating">4.6</div>
                    <div class="marketRatingContainer">
                        <div class="yellowStar">★★★★</div>
                        <div class="grayStar">★</div>
                    </div>
                </div>
                <div id="ratingInfoContainer">
                    <div class="ratingInfo">
                        <div>5점</div>
                        <div class="graph">
                            <span> </span>
                        </div>
                        <div>&nbsp;25</div>
                    </div>
                    <div class="ratingInfo">
                        <div>4점</div>
                        <div class="graph">
                            <span> </span>
                        </div>
                        <div>&nbsp;25</div>
                    </div>
                    <div class="ratingInfo">
                        <div>3점</div>
                        <div class="graph">
                            <span> </span>
                        </div>
                        <div>&nbsp;25</div>
                    </div>
                    <div class="ratingInfo">
                        <div>2점</div>
                        <div class="graph">
                            <span> </span>
                        </div>
                        <div>&nbsp;25</div>
                    </div>
                    <div class="ratingInfo">
                        <div>1점</div>
                        <div class="graph">
                            <span> </span>
                        </div>
                        <div>&nbsp;25</div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="reviewContainer">
                <div class="reviewInfoContainer">
                    <div class="profileContainer"><img class="profile" src="/images/profile.jpg"/></div>
                    <div>
                        <div class="reviewWriterContainer">
                            <div><strong>우디누나 님</strong></div>
                            <div class="writeTime">&nbsp;&nbsp;2024년 6월 24일</div>
                        </div>
                        <div class="oneReviewRatingContainer">
                            <div class="yellowStar">★★★★</div>
                            <div class="grayStar">★</div>
                        </div>
                    </div>
                </div>
                <div class="reviewImageContainer">
                    <img class="reviewImage" src="/images/review-sample.jpg"/>
                </div>
                <div class="reviewContent">
                    도우도 쫄깃하고 너무 맛있습니다.
                </div>
                <div class="ownerReviewContainer">
                    <div class="ownerWriterContainer">
                        <div><strong>사장님</strong></div>
                        <div class="writeTime">&nbsp;&nbsp;2024년 6월 24일</div>
                    </div>
                    <div class="reviewContent">
                        우디누나님, 안녕하세요! 맛있게 드셔주시고 사진도 이쁘게 찍어주셔서 정말 감사합니다.
                        앞으로도 청년피자 많이 사랑해주세요! 감사합니다!
                    </div>
                </div>
            </div>
            <hr/>
            <div class="reviewContainer">
                <div class="reviewInfoContainer">
                    <div class="profileContainer"><img class="profile" src="/images/profile.jpg"/></div>
                    <div>
                        <div class="reviewWriterContainer">
                            <div><strong>다이어트는내일부터 님</strong></div>
                            <div class="writeTime">&nbsp;&nbsp;2024년 6월 20일</div>
                        </div>
                        <div class="oneReviewRatingContainer">
                            <div class="yellowStar">★★★★★</div>
                        </div>
                    </div>
                </div>
                <div class="reviewContent">
                    맛있게 잘먹었습니다. 너무 맛있어요.
                </div>
                <div class="ownerReviewContainer">
                    <div class="ownerWriterContainer">
                        <div><strong>사장님</strong></div>
                        <div class="writeTime">&nbsp;&nbsp;2024년 6월 21일</div>
                    </div>
                    <div class="reviewContent">
                        다이어트는내일부터님, 안녕하세요! 정말 감사합니다.
                        앞으로도 청년피자 많이 사랑해주세요!
                    </div>
                </div>
            </div>
        </div>


        <div class="conbox con3">
            <div id="map"></div>
            <script th:inline="javascript">
                var appkey = [[${KAKAO_API_KEY}]];
                var script = document.createElement('script');
                script.type = "text/javascript";
                script.src = "//dapi.kakao.com/v2/maps/sdk.js?appkey=" + appkey + "&autoload=false";
                document.head.appendChild(script);

                var latitude = [[${marketMenuResponse.marketResponse.latitude}]];
                var longitude = [[${marketMenuResponse.marketResponse.longitude}]];
            </script>

            <div id="marketIntro" th:text="${marketMenuResponse.marketResponse.marketIntroduction}">가게소개글</div>
            <hr/>
            <div id="marketIntroContainer">
                <strong>영업시간</strong>&nbsp;[[${marketMenuResponse.marketResponse.operationTime}]]<br/>
                <strong>전화번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.marketNumber}]]<br/>
                <strong>주소</strong>&nbsp;[[${marketMenuResponse.marketResponse.query}]]&nbsp;[[${marketMenuResponse.marketResponse.addressDetail}]]<br/>
                <strong>사업자등록번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.businessNumber}]]<br/>
            </div>
        </div>
    </div>

    <div id="bottomBtnContainer">
        <div id="cartBtn" onclick="location.href='/order/cart'"><strong>장바구니</strong></div>
        <div id="orderBtn"><strong>주문하기</strong></div>
    </div>

    <th:block th:each="menuId : ${marketMenuResponse.menuIds}">
        <div class="modal" th:id="'optionChoiceModal' + ${menuId}" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">메뉴상세</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="menuImageInModalContainer"><img th:src="${marketMenuResponse.getMenuResponse(menuId).menuImage}" id="menuImageInModal"/></div>
                        <div id="menuNameInModal"><strong>[[${marketMenuResponse.getMenuResponse(menuId).menuName}]]</strong></div>
                        <div id="menuInfoInModal" th:text="${marketMenuResponse.getMenuResponse(menuId).menuIntroduction}">메뉴설명</div>
                        <hr/>
                        <div id="menuPriceInModalContainer">
                            <div id="menuPriceTitleInModal"><strong>가격</strong></div>
                            <div id="menuPriceInModal"><strong>[[${#numbers.formatInteger(marketMenuResponse.getMenuResponse(menuId).menuPrice, 3, 'COMMA') + '원'}]]</strong></div>
                        </div>
                        <hr/>
                        <th:block th:each="optionCategory : ${marketMenuResponse.getOptionCategoryResponses(menuId)}">
                            <div class="optionCategoryContainer">
                                <div class="optionCategory"><strong>[[${optionCategory.optionCategoryName}]]</strong></div>
                                <div class="optionMethod" th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).SINGLE)}">&nbsp;(필수)</div>
                                <div class="optionMethod" th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).MULTI)}">&nbsp;(선택)</div>
                            </div>
                            <th:block th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).SINGLE)}">
                                <div class="checkContainer" th:each="option, iterStat : ${marketMenuResponse.getOptionResponses(optionCategory.optionCategoryId)}">
                                    <input type="radio" th:if="${iterStat.index == 0}" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}" checked>
                                    <input type="radio" th:if="${iterStat.index != 0}" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}">
                                    <label th:for="'option' + ${option.optionId}" class="optionNameContainer">
                                        <div class="optionName" th:text="${option.optionName}">옵션이름</div>
                                        <div class="optionPrice" th:if="${option.optionPrice == 0}" th:text="추가비용없음">옵션가격</div>
                                        <div class="optionPrice" th:if="${option.optionPrice != 0}" th:text="'+' + ${#numbers.formatInteger(option.optionPrice, 3, 'COMMA') + '원'}">옵션가격</div>
                                    </label>
                                </div>
                            </th:block>
                            <th:block th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).MULTI)}">
                                <div class="checkContainer" th:each="option : ${marketMenuResponse.getOptionResponses(optionCategory.optionCategoryId)}">
                                    <input type="checkbox" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}">
                                    <label th:for="'option' + ${option.optionId}" class="optionNameContainer">
                                        <div class="optionName" th:text="${option.optionName}">옵션이름</div>
                                        <div class="optionPrice" th:if="${option.optionPrice == 0}" th:text="추가비용없음">옵션가격</div>
                                        <div class="optionPrice" th:if="${option.optionPrice != 0}" th:text="'+' + ${#numbers.formatInteger(option.optionPrice, 3, 'COMMA') + '원'}">옵션가격</div>
                                    </label>
                                </div>
                            </th:block>
                            <hr/>
                        </th:block>

                        <div class="quantityContainer">
                            <div class="quantity"><strong>수량</strong></div>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
                        <hr/>
                        <div class="totalPriceContainer">
                            <div class="totalPriceTitle"><strong>총 주문금액</strong></div>
                            <div class="totalPrice"><strong>18,900원</strong></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal" style="background: #eeeeee;">장바구니에 추가</button>
                        <button type="button" class="btn" style="background: #ffb36f;">주문하기</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>

<script src="/js/order/orderMenuScript.js"></script>
</body>
</html>