<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/order/orderMenuStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/fragment/fragmentStyle.css">
</head>
<body>

<div th:replace="~{fragment/header :: navbar}"></div>

<div id="contents">

    <div id="marketCategory">
        <ul class="list">
            <li><a href="#" class="activeCategory">전체보기</a></li>
            <li><a href="#">치킨</a></li>
            <li><a href="#">피자·양식</a></li>
            <li><a href="#">돈까스·일식</a></li>
            <li><a href="#">족발·보쌈</a></li>
            <li><a href="#">분식</a></li>
            <li><a href="#">중식</a></li>
            <li><a href="#">한식</a></li>
            <li><a href="#">아시안</a></li>
            <li><a href="#">버거</a></li>
            <li><a href="#">카페</a></li>
            <li><a href="#">찜·탕</a></li>
        </ul>
    </div>
    <hr/>

    <div id="marketContainer">
        <div id="marketNameContainer" th:text="${marketMenuResponse.marketResponse.marketName}">가게이름</div>
        <hr/>
        <div id="infoContainer">
            <div id="marketImageContainer"><img id="marketImage" th:src="${marketMenuResponse.marketResponse.marketImage}"/></div>
            <div id="marketInfoContainer">
                <div class="marketRatingContainer">
                    <div class="yellowStar">
                        <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getYellowStarNumber())}">★</block>
                    </div>
                    <div class="grayStar" th:if="${marketMenuResponse.marketResponse.getYellowStarNumber() != 5}">
                        <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getGrayStarNumber())}">★</block>
                    </div>
                    <div id="marketRating" th:text="${marketMenuResponse.marketResponse.marketRating}">가게평점</div>
                </div>
                <div id="marketAddressContainer">
                    <strong>주소</strong>&nbsp;[[${marketMenuResponse.marketResponse.query}]]&nbsp;[[${marketMenuResponse.marketResponse.addressDetail}]]
                </div>
                <div id="marketNumberContainer">
                    <strong>영업시간</strong>&nbsp;[[${marketMenuResponse.marketResponse.operationTime}]]&nbsp;<strong>전화번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.marketNumber}]]
                </div>
            </div>
        </div>
    </div>

    <div class="tab_content">
        <div class="tabs">
            <input type="radio" class="tabmenu" name="tabmenu" id="tab01" checked>
            <label for="tab01">메뉴</label>
            <input type="radio" class="tabmenu" name="tabmenu" id="tab02">
            <label for="tab02">리뷰 ([[${marketMenuResponse.marketResponse.reviewCount}]])</label>
            <input type="radio" class="tabmenu" name="tabmenu" id="tab03" onclick="showInfoTab()">
            <label for="tab03">정보</label>
        </div>

        <div class="conbox con1">
            <div th:each="menuCategoryId : ${marketMenuResponse.menuCategoryIds}">
                <div class="menuCategoryContainer">
                    <button class="navbar-toggler menuCategoryBtn" type="button" data-bs-toggle="collapse" th:data-bs-target="'#dropdown' + ${menuCategoryId}" th:aria-controls="'dropdown' + ${menuCategoryId}" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="menuCategoryBtnContent">
                            <div th:text="${marketMenuResponse.menuCategoryMapById.get(menuCategoryId).menuCategoryName}">메뉴카테고리명</div>
                            <div><img src="/images/dropdown-icon.svg"/></div>
                        </div>
                    </button>
                </div>
                <div class="collapse navbar-collapse" th:id="'dropdown' + ${menuCategoryId}">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown menuList" th:each="menu : ${marketMenuResponse.menuMapByMenuCategoryId.get(menuCategoryId)}" th:onclick="|showOptionModal(${menu.menuId})|">
                            <div class="menuListInfo">
                                <div class="menuInfoContainer">
                                    <div><strong>[[${menu.menuName}]]</strong></div>
                                    <div class="menuIntro" th:text="${menu.menuIntroduction}">메뉴설명</div>
                                    <div th:text="${#numbers.formatInteger(menu.menuPrice, 3, 'COMMA') + '원'}">메뉴가격</div>
                                </div>
                                <div class="menuImageContainer"><img class="menuImage" th:src="${menu.menuImage}"/></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="conbox con2">
            <div id="reviewRatingContainer">
                <div id="reviewRatingAvg">
                    <div id="reviewMarketRating" th:text="${marketMenuResponse.marketResponse.marketRating}">가게평점</div>
                    <div class="marketRatingContainer">
                        <div class="yellowStar">
                            <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getYellowStarNumber())}">★</block>
                        </div>
                        <div class="grayStar" th:if="${marketMenuResponse.marketResponse.getYellowStarNumber() != 5}">
                            <block th:each="num:${#numbers.sequence(1, marketMenuResponse.marketResponse.getGrayStarNumber())}">★</block>
                        </div>
                    </div>
                </div>
                <div id="ratingInfoContainer">
                    <div class="ratingInfo">
                        <div>5점</div>
                        <div class="graph">
                            <span th:style="'width: ' + (${marketMenuResponse.ratingCountResponse.fiveStar} / ${marketMenuResponse.marketResponse.reviewCount} * 100) +'%;'"> </span>
                        </div>
                        <div>&nbsp;[[${marketMenuResponse.ratingCountResponse.fiveStar}]]</div>
                    </div>
                    <div class="ratingInfo">
                        <div>4점</div>
                        <div class="graph">
                            <span th:style="'width: ' + (${marketMenuResponse.ratingCountResponse.fourStar} / ${marketMenuResponse.marketResponse.reviewCount} * 100) +'%;'"> </span>
                        </div>
                        <div>&nbsp;[[${marketMenuResponse.ratingCountResponse.fourStar}]]</div>
                    </div>
                    <div class="ratingInfo">
                        <div>3점</div>
                        <div class="graph">
                            <span th:style="'width: ' + (${marketMenuResponse.ratingCountResponse.threeStar} / ${marketMenuResponse.marketResponse.reviewCount} * 100) +'%;'"> </span>
                        </div>
                        <div>&nbsp;[[${marketMenuResponse.ratingCountResponse.threeStar}]]</div>
                    </div>
                    <div class="ratingInfo">
                        <div>2점</div>
                        <div class="graph">
                            <span th:style="'width: ' + (${marketMenuResponse.ratingCountResponse.twoStar} / ${marketMenuResponse.marketResponse.reviewCount} * 100) +'%;'"> </span>
                        </div>
                        <div>&nbsp;[[${marketMenuResponse.ratingCountResponse.twoStar}]]</div>
                    </div>
                    <div class="ratingInfo">
                        <div>1점</div>
                        <div class="graph">
                            <span th:style="'width: ' + (${marketMenuResponse.ratingCountResponse.oneStar} / ${marketMenuResponse.marketResponse.reviewCount} * 100) +'%;'"> </span>
                        </div>
                        <div>&nbsp;[[${marketMenuResponse.ratingCountResponse.oneStar}]]</div>
                    </div>
                </div>
            </div>
            <hr/>

            <th:block th:each="review : ${marketMenuResponse.reviewResponses}">
                <div class="reviewContainer">
                    <div class="reviewInfoContainer">
                        <div class="profileContainer"><img class="profile" th:src="${review.profile}"/></div>
                        <div>
                            <div class="reviewWriterContainer">
                                <div><strong>[[${review.nickname}]] 님</strong></div>
                                <div class="writeTime">
                                    &nbsp;&nbsp;[[${review.reviewWriteDate}]]
                                    <th:block th:if="${review.reviewStatus.equals(T(com.back.takeeat.domain.review.ReviewStatus).MODIFY)}">(수정됨)</th:block>
                                </div>
                            </div>
                            <div class="oneReviewRatingContainer">
                                <div class="yellowStar">
                                    <block th:each="num:${#numbers.sequence(1, review.reviewRating)}">★</block>
                                </div>
                                <div class="grayStar" th:if="${review.reviewRating != 5}">
                                    <block th:each="num:${#numbers.sequence(1, 5 - review.reviewRating)}">★</block>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewImageContainer01" th:if="${review.reviewImages.size() == 1}">
                        <img class="reviewImage01" th:src="${review.reviewImages.get(0)}"/>
                    </div>
                    <div class="reviewImageContainer02" th:if="${review.reviewImages.size() == 2}">
                        <img th:each="reviewImage, iterStat : ${review.reviewImages}" th:class="'reviewImage02-' + ${iterStat.index}" th:src="${review.reviewImages.get(iterStat.index)}"/>
                    </div>
                    <th:block th:if="${review.reviewImages.size() == 3}">
                        <div class="reviewImageContainer03-1" th:each="reviewImage, iterStat : ${review.reviewImages}">
                            <img th:class="'reviewImage03-' + ${iterStat.index}" th:src="${reviewImage}"/>
                        </div>
                        <div class="reviewImageContainer03-2">
                            <div class="reviewImageContainer03-3">
                                <img class="reviewImage03-3" th:src="${review.reviewImages.get(0)}"/>
                            </div>
                            <div class="reviewImageContainer03-4">
                                <img class="reviewImage03-4" th:src="${review.reviewImages.get(1)}"/>
                                <img class="reviewImage03-5" th:src="${review.reviewImages.get(2)}"/>
                            </div>
                        </div>
                    </th:block>
                    <div class="reviewContent" th:text="${review.reviewContent}">리뷰내용</div>
                    <div class="ownerReviewContainer" th:if="${review.ownerReviewContent != null}">
                        <div class="ownerWriterContainer">
                            <div><strong>사장님</strong></div>
                            <div class="writeTime">&nbsp;&nbsp;[[${review.ownerReviewWriteDate}]]</div>
                        </div>
                        <div class="reviewContent" th:text="${review.ownerReviewContent}">사장님리뷰내용</div>
                    </div>
                </div>
                <hr/>
            </th:block>
        </div>


        <div class="conbox con3">
            <div id="map"></div>
            <script th:inline="javascript">
                var appkey = [[${KAKAO_API_KEY}]];
                var script = document.createElement('script');
                script.type = "text/javascript";
                script.src = "//dapi.kakao.com/v2/maps/sdk.js?appkey=" + appkey + "&autoload=false&libraries=services";
                document.head.appendChild(script);

                var latitude = [[${marketMenuResponse.marketResponse.latitude}]];
                var longitude = [[${marketMenuResponse.marketResponse.longitude}]];
            </script>

            <div id="marketIntro" th:text="${marketMenuResponse.marketResponse.marketIntroduction}">가게소개글</div>
            <hr/>
            <div id="marketIntroContainer">
                <strong>영업시간</strong>&nbsp;[[${marketMenuResponse.marketResponse.operationTime}]]<br/>
                <strong>휴무일</strong>&nbsp;[[${marketMenuResponse.marketResponse.closedDays}]]<br/>
                <strong>전화번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.marketNumber}]]<br/>
                <strong>주소</strong>&nbsp;[[${marketMenuResponse.marketResponse.query}]]&nbsp;[[${marketMenuResponse.marketResponse.addressDetail}]]<br/>
                <strong>사업자등록번호</strong>&nbsp;[[${marketMenuResponse.marketResponse.businessNumber}]]<br/>
            </div>
        </div>
    </div>

    <div id="bottomBtnContainer">
        <div id="cartBtn" onclick="location.href='/cart'"><strong>장바구니</strong></div>
        <div id="orderBtn" onclick="checkCart()"><strong>주문하기</strong></div>
    </div>

    <th:block th:each="menuId : ${marketMenuResponse.menuIds}">
        <div class="modal" th:id="'optionChoiceModal' + ${menuId}" tabindex="-1" th:data-market-id="${marketMenuResponse.marketResponse.marketId}" th:data-menu-id="${menuId}">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">메뉴상세</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="menuImageInModalContainer"><img th:src="${marketMenuResponse.menuMapById.get(menuId).menuImage}" id="menuImageInModal"/></div>
                        <div id="menuNameInModal"><strong>[[${marketMenuResponse.menuMapById.get(menuId).menuName}]]</strong></div>
                        <div id="menuInfoInModal" th:text="${marketMenuResponse.menuMapById.get(menuId).menuIntroduction}">메뉴설명</div>
                        <hr/>
                        <div id="menuPriceInModalContainer">
                            <div id="menuPriceTitleInModal"><strong>가격</strong></div>
                            <div id="menuPriceInModal"><strong>[[${#numbers.formatInteger(marketMenuResponse.menuMapById.get(menuId).menuPrice, 3, 'COMMA') + '원'}]]</strong></div>
                        </div>
                        <hr/>
                        <th:block th:each="optionCategory : ${marketMenuResponse.optionCategoryMapByMenuId.get(menuId)}">
                            <div class="optionCategoryContainer">
                                <div class="optionCategory"><strong>[[${optionCategory.optionCategoryName}]]</strong></div>
                                <div class="optionMethod" th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).SINGLE)}">&nbsp;(필수)</div>
                                <div class="optionMethod" th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).MULTI)}">&nbsp;(최대 [[${optionCategory.optionMaxCount}]]개 선택)</div>
                            </div>
                            <th:block th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).SINGLE)}">
                                <div class="checkContainer" th:each="option, iterStat : ${marketMenuResponse.optionMapByOptionCategoryId.get(optionCategory.optionCategoryId)}">
                                    <input type="radio" th:if="${iterStat.index == 0}" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}" th:data-option-id="${option.optionId}" th:data-price="${option.optionPrice}" checked>
                                    <input type="radio" th:if="${iterStat.index != 0}" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}" th:data-option-id="${option.optionId}" th:data-price="${option.optionPrice}">
                                    <label th:for="'option' + ${option.optionId}" class="optionNameContainer">
                                        <div class="optionName" th:text="${option.optionName}">옵션이름</div>
                                        <div class="optionPrice" th:if="${option.optionPrice == 0}" th:text="추가비용없음">옵션가격</div>
                                        <div class="optionPrice" th:if="${option.optionPrice != 0}" th:text="'+' + ${#numbers.formatInteger(option.optionPrice, 3, 'COMMA') + '원'}">옵션가격</div>
                                    </label>
                                </div>
                            </th:block>
                            <th:block th:if="${optionCategory.optionSelect.equals(T(com.back.takeeat.domain.option.OptionSelect).MULTI)}">
                                <div class="checkContainer" th:each="option : ${marketMenuResponse.optionMapByOptionCategoryId.get(optionCategory.optionCategoryId)}">
                                    <input type="checkbox" th:id="'option' + ${option.optionId}" th:name="'option' + ${optionCategory.optionCategoryId}" th:data-option-id="${option.optionId}" th:data-price="${option.optionPrice}" th:data-max-count="${optionCategory.optionMaxCount}">
                                    <label th:for="'option' + ${option.optionId}" class="optionNameContainer">
                                        <div class="optionName" th:text="${option.optionName}">옵션이름</div>
                                        <div class="optionPrice" th:if="${option.optionPrice == 0}" th:text="추가비용없음">옵션가격</div>
                                        <div class="optionPrice" th:if="${option.optionPrice != 0}" th:text="'+' + ${#numbers.formatInteger(option.optionPrice, 3, 'COMMA') + '원'}">옵션가격</div>
                                    </label>
                                </div>
                            </th:block>
                            <hr/>
                        </th:block>

                        <div class="quantityContainer">
                            <div class="quantity"><strong>수량</strong></div>
                            <div class="number-input">
                                <button onclick="stepDownAndUpdate(this)" class="minus"></button>
                                <input class="quantity" min="1" name="quantity" value="1" type="number" readonly>
                                <button onclick="stepUpAndUpdate(this)" class="plus"></button>
                            </div>
                        </div>
                        <hr/>
                        <div class="totalPriceContainer">
                            <div class="totalPriceTitle"><strong>총 주문금액</strong></div>
                            <div class="totalPrice" th:data-base-price="${marketMenuResponse.menuMapById.get(menuId).menuPrice}"><strong>[[${#numbers.formatInteger(marketMenuResponse.menuMapById.get(menuId).menuPrice, 3, 'COMMA')}]]원</strong></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal" style="background: #eeeeee;">취소</button>
                        <button type="button" class="btn" style="background: #ffb36f;" onclick="addToCart(this)">장바구니에 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <div class="modal" id="confirmAddOtherMarketMenuModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TAKE EAT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    다른 음식점에서 이미 담은 메뉴가 있습니다.<br/>
                    담긴 메뉴를 취소하고 새로운 음식점에서 메뉴를 담을까요?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal" style="background: #eeeeee;">취소</button>
                    <button type="button" class="btn" style="background: #ffb36f;" onclick="deleteAndAddToCart()">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="cantOrderModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TAKE EAT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    장바구니에 담긴 메뉴가 없습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal" style="background: #ffb36f;">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="notification-container" id="notification-container">
        <p id="notification-content">장바구니에 메뉴를 추가했습니다.</p>
    </div>
</div>

<div th:replace="~{fragment/footer :: copyright}"></div>

<script th:inline="javascript">
    var sessionAddr = [[${session.addr}]];
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/order/orderMenu.js"></script>
<script src="/js/fragment/fragment.js"></script>
</body>
</html>