<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/myPage/orderDetailStyle.css">
</head>
<body>

<div id="contents">

    <div id="titleContainer">
        <div><img id="backIcon" src="/images/back-icon.png" onclick="history.back(-1);"/></div>
        <div id="orderDetailTitle"><strong>주문상세</strong></div>
    </div>
    <hr/>

    <div class="orderInfo">
        <div id="orderStatus"><strong>[[${orderDetailResponse.getOrderStatusKR()}]]</strong></div>
        <div id="marketName"><strong>[[${orderDetailResponse.marketName}]]</strong></div>
        <div id="orderTime">주문일시 : [[${orderDetailResponse.getOrderDate()}]]</div>
    </div>

    <hr class="hrDotted"/>

    <div id="orderMenuTitle"><strong>주문 메뉴</strong></div>
    <hr/>
    <th:block th:each="orderMenu : ${orderDetailResponse.orderMenuResponses}">
        <div class="menuContainer">
            <div class="nameAndPrice">
                <div class="menuName"><strong>[[${orderMenu.menuName}]]</strong></div>
                <div class="menuPrice">[[${#numbers.formatInteger(orderMenu.menuPrice, 3, 'COMMA') + '원'}]]</div>
            </div>
            <div class="optionAndPrice" th:each="orderOption : ${orderDetailResponse.optionCategoryByOrderMenu.get(orderMenu.orderMenuId)}">
                <div class="optionName">
                    [[${orderOption.optionCategoryName}]] :
                    <th:block th:each="orderOptionInfo, iterStat : ${orderDetailResponse.getOrderOptionInfo(orderMenu.orderMenuId, orderOption.optionCategoryId)}">
                        <th:block th:if="${iterStat.index == 0}">[[${orderOptionInfo.optionName}]]</th:block>
                        <th:block th:if="${iterStat.index != 0}">,&nbsp;[[${orderOptionInfo.optionName}]]</th:block>
                        <div class="optionPrice" th:data-option-price="${orderOptionInfo.optionPrice}" style="display: none;"></div>
                    </th:block>
                </div>
                <div class="totalOptionPrice"></div>
            </div>
            <div class="totalMenuPrice" th:data-menu-price="${orderMenu.orderPrice}" th:data-menu-quantity="${orderMenu.orderQuantity}">
                <strong>[[${#numbers.formatInteger(orderMenu.orderPrice, 3, 'COMMA') + '원'}]]&nbsp;X&nbsp;[[${orderMenu.orderQuantity}]]</strong>
            </div>
        </div>
        <hr/>
    </th:block>

    <div id="totalPriceContainer">
        <div id="totalPriceTitle"><strong>총 주문금액</strong></div>
        <div><strong id="totalPrice"></strong></div>
    </div>

    <hr class="hrDotted"/>

    <div class="orderInfo">
        <!-- 결제 정보, 요청사항 추가 -->
    </div>
</div>

<script src="/js/myPage/orderDetail.js"></script>
</body>
</html>