<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/myPage/reviewListStyle.css">
</head>
<body>

<div id="contents">

    <div id="titleContainer">
        <div><img id="backIcon" src="/images/back-icon.png"/></div>
        <div id="reviewListTitle"><strong>리뷰관리</strong></div>
    </div>
    <hr/>

    <div id="reviewCount"><strong>내가 쓴 총 리뷰 [[${reviewListResponses.size()}]]개</strong></div>
    <hr/>

    <th:block th:each="review : ${reviewListResponses}">
        <div class="reviewContainer">
            <div class="marketName"><a th:href="|/${review.marketId}/menu|">[[${review.marketName}]] <strong>&gt;</strong></a></div>
            <div class="reviewInfoContainer">
                <div class="reviewRating">
                    <div class="yellowStar">
                        <block th:each="num:${#numbers.sequence(1, review.reviewRating)}">★</block>
                    </div>
                    <div class="grayStar" th:if="${review.reviewRating != 5}">
                        <block th:each="num:${#numbers.sequence(1, 5 - review.reviewRating)}">★</block>
                    </div>
                    <div class="writeTime" th:text="${review.reviewWriteDate}">작성일</div>
                </div>
                <div class="reviewControlBtnContainer">
                    <div><button class="modifyReviewBtn" type="button" th:onclick="|location.href='@{/my/review/modify(reviewId=${review.reviewId})}'|">수정</button></div>
                    <div><button class="deleteReviewBtn" type="button" onclick="showDeleteModal(this)" th:data-review-id="${review.reviewId}">삭제</button></div>
                </div>
            </div>
            <div class="reviewImageContainer" th:if="${review.reviewImages != null}" >
                <th:block th:each="reviewImage : ${review.reviewImages}">
                    <img class="reviewImage" th:src="${reviewImage}"/>
                </th:block>
            </div>
            <div class="reviewContent" th:text="${review.reviewContent}">리뷰내용</div>
            <div class="ownerReviewContainer" th:if="${review.ownerReviewContent != null}">
                <div class="ownerWriterContainer">
                    <div><strong>사장님</strong></div>
                    <div class="writeTime">&nbsp;&nbsp;[[${review.ownerReviewWriteDate}]]</div>
                </div>
                <div class="reviewContent" th:text="${review.ownerReviewContent}">사장님리뷰내용</div>
            </div>
        </div>
        <hr/>
    </th:block>

    <div class="modal" id="deleteConfirmModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TAKE EAT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    리뷰를 삭제하시겠습니까?<br/>
                    삭제 후 해당 주문 건에 대한 리뷰는 다시 작성할 수 없습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal" style="background: #eeeeee;">취소</button>
                    <button type="button" class="btn" id="deleteReviewBtn" style="background: #ffb36f;">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="deleteCompleteModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TAKE EAT</h5>
                </div>
                <div class="modal-body">
                    리뷰 삭제가 완료되었습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" onclick="location.href='/my/review/list'" style="background: #ffb36f;">확인</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/myPage/reviewList.js"></script>
</body>
</html>