* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#contents {
  width: 100%;
  max-width: 600px;
}

@media (min-width: 601px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body {
  background-color: #f9f9f9;
}

#contents {
  display: grid;
  grid-template-rows: 65.075px max-content;
  background: white;
  justify-items: center;
}

.member-header {
  text-align: center;
  align-content: center;
  height: 65.075px;
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  justify-items: center;
  display: grid;
  grid-template-columns: 50px auto 50px;
}

.member-header > img {
  width: 20px;
  object-fit: scale-down;
  cursor: pointer;
}

.member-header > div {
  font-weight: bolder;
}

.middle {
  grid-row: 2/3;
  min-height: calc(100vh - 65.075px);
  height: 100%;
}

.field-error {
  border-color: #dc3545;
  color: #dc3545;
  font-size: 10px;
  padding: 5px 0 10px;
}

.caption {
  font-weight: 400;
  font-size: 10px;
  color: #6e6e6e;
  padding-bottom: 15px;
}
