/* 컬러 변수 */
:root {
    --main-color: #ffb36f;
}

.middle {
    font-weight: 600;
    font-size: 14px;
}

.middle > form {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
}

#name,
#nickname,
#phone,
.regist-btn {
    width: 300px;
    height: 50px;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    border: 1.5px solid var(--main-color);
    border-radius: 5px;
    margin: 10px 0;
}

.profile-user-frame {
    grid-row: 1/2;
    margin: 15px 0;
    text-align: center;
    width: 300px;
    height: 152px;
}

#profile-user-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid var(--main-color);
    border-radius: 25%;
}

#profile-update-btn {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 34px;
    left: 60px;
    cursor: pointer;
    background-image: url(/images/member/photo-camera.png);
    background-size: contain;
    background-position: 0 center;
    border-style: none;
    background-color: var(--main-color);
    border-radius: 50px;
    border: none;
}

.name-frame {
    grid-row: 2/3;
}

.nickname-frame {
    grid-row: 3/4;
}
.phone-frame {
    grid-row: 4/5;
}
.regist-frame {
    grid-row: 5/6;
}

.regist-btn {
    font-weight: 600;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
}
