* {
    font-family: "Noto Sans KR", sans-serif;
}

#contents {
    width: 100%;
    max-width: 600px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#marketCategory ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
}

#marketCategory ul li {
    display: inline-block;
    padding: 10px 20px;
}

.activeCategory {
    font-weight: bold;
}

.list::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    background-color: lightgray;
}

.list::-webkit-scrollbar {
    height: 0.3rem;
    width: 0.25rem;
    border-radius: 0.125rem;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: gray;
}

hr {
    margin: 0px;
}

#marketContainer {
    margin: 10px;
    border: 1px solid lightgray;
}

#marketNameContainer {
    margin: 10px;
}

#infoContainer, .marketRatingContainer {
    display: flex;
    align-items: end;
}

#marketImageContainer {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid lightgray;
    overflow: hidden;
}

#marketImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yellowStar {
    color: #fddb41;
}

.grayStar {
    color: lightgray;
}

#marketInfoContainer {
    width: 75%;
    margin: auto;
}

#marketRating {
    margin-left: 5px;
}

#marketNumberContainer {
    display: none;
}

.tabmenu {
    display: none;
}

.tabmenu + label {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid lightgray;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.tabmenu + label:hover {
    background: #eeeeee;
}

.tabmenu:checked + label {
    border-bottom: 5px solid #ffb36f;
    color: #ffb36f;
}

.tab_content {
    padding: 0px 10px;
}

.tabs {
    display: flex;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.conbox {
    width: 100%;
    margin: 0 auto;
    display: none;
    border: 1px solid lightgray;
}

.conbox.active {
    display:block;
}

.menuCategoryContainer {
    background: #eeeeee;
    border-bottom: 1px solid lightgray;
}

.menuCategoryBtn {
    width: 100%;
    padding: 15px;
    text-align: left;
}

.menuCategoryBtnContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuList {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.menuList:hover {
    cursor: pointer;
}

.menuListInfo {
    display: flex;
    align-items: end;
}

.menuInfoContainer {
    width: 80%;
    margin: auto;
}

.menuIntro {
    font-size: 14px;
    color: #999999;
}

.menuImageContainer {
    width: 100px;
    height: 80px;
    overflow: hidden;
    margin: auto;
}

.menuImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#reviewRatingContainer {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#reviewMarketRating {
    font-size: 40px;
    text-align: center;
}

#ratingInfoContainer {
    margin-left: 40px;
}

.ratingInfo {
    font-size: 14px;
    display: flex;
    align-items: end;
}

#reviewRatingAvg {
    margin: auto 0;
}

.graph {
    width: 80px;
    height: 5px;
    background: #ccc;
    border-radius: 40px;
    margin: auto;
    margin-left: 5px;
}

.graph span {
    display: block;
    height: 5px;
    line-height: 40px;
    text-align: right;
    background: #fddb41;
    border-radius: 40px;
}

.reviewContainer {
    margin: 10px;
}

.reviewInfoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reviewWriterContainer, .ownerWriterContainer {
    display: flex;
    align-items: end;
    margin-left: 10px;
}

.ownerWriterContainer {
    margin-top: 10px;
}

.oneReviewRatingContainer {
    display: flex;
    align-items: end;
    margin-left: 10px;
}

.reviewImageContainer01 {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.reviewImageContainer02 {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.reviewImageContainer03-1 {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reviewImageContainer03-2 {
    display: none;
}

.reviewImage01, .reviewImage03-0, .reviewImage03-1, .reviewImage03-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewImage02-0, .reviewImage02-1 {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.reviewImage02-0 {
    margin-bottom: 5px;
}

.reviewImage02-1 {
    margin-top: 5px;
}

.reviewContent {
    margin: 10px;
    white-space: pre-wrap;
}

.ownerReviewContainer {
    background: #eeeeee;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.writeTime {
    font-size: 14px;
    color: #999999;
}

#map {
    width: 95%;
    height: 350px;
    margin: 10px auto;
    z-index: 1;
}

#marketIntro {
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
    margin: 10px;
}

#marketIntroContainer {
    margin: 10px;
    word-break: break-all;
}

#bottomBtnContainer {
    display: flex;
    align-items: end;
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    display: table;
    border-collapse: collapse;
    z-index: 2;
}

#cartBtn {
    background: white;
}

#orderBtn {
    background: #ffb36f;
}

#cartBtn, #orderBtn {
    border: 1px solid lightgray;
    height: 50px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    display: table-cell;
}

#cartBtn:hover, #orderBtn:hover {
    cursor: pointer;
}

#menuImageInModalContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#menuImageInModal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menuNameInModal {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

#menuInfoInModal {
    color: #999999;
    margin: 10px;
    margin-top: 0px;
}

#menuPriceInModalContainer {
   display: flex;
   align-items: end;
   margin: 10px;
   justify-content: space-between;
}

.optionNameContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 1px solid lightgray;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    color: black;
}

.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f077';
    transform: translate(-50%, -50%) rotate(180deg);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: .5rem;
    border: solid lightgray;
    border-width: 0 1px;
    font-size: 1rem;
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.quantityContainer, .totalPriceContainer, .optionCategoryContainer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 10px;
}

.totalPrice {
    font-size: 20px;
}

.optionCategoryContainer {
    display: flex;
    align-items: end;
    margin: 10px;
}

.optionMethod {
    font-size: 14px;
}

.notification-container {
    background: black;
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}

.notification-container.show {
    display: block;
}

#notification-content {
    margin: 0px;
    color: white;
    white-space: nowrap;
}

footer {
    margin-bottom: 60px;
}

@media (min-width: 601px) {
    body {
        display: flex;
        justify-content: center;
    }

    #marketNumberContainer {
        display: block;
    }

    .reviewImageContainer02 {
        height: 300px;
        display: flex;
    }

    .reviewImageContainer03-1 {
        display: none;
    }

    .reviewImageContainer03-2 {
        width: 100%;
        height: 400px;
        display: flex;
    }

    .reviewImageContainer03-3 {
        width: 50%;
        height: 100%;
        margin-right: 5px;
    }

    .reviewImageContainer03-4 {
        width: 50%;
        height: 100%;
        margin-left: 5px;
    }

    .reviewImage02-0 {
        width: 50%;
        height: 100%;
        padding-right: 5px;
        margin-bottom: 0px;
    }

    .reviewImage02-1 {
        width: 50%;
        height: 100%;
        padding-left: 5px;
        margin-top: 0px;
    }

    .reviewImage03-3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .reviewImage03-4, .reviewImage03-5 {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .reviewImage03-4 {
        padding-bottom: 5px;
    }

    .reviewImage03-5 {
        padding-top: 5px;
    }
}