.bell-section {
    width: 300px;
    padding: 100px 0px 0px 300px;
}

.bell-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 20px;
}
.notification-dot {
    position: absolute;
    top: 0;
    right: -4px;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    display: none; /* 기본적으로 숨김 */
}
.bell-icon.has-notification .notification-dot {
    display: block; /* 알림이 있을 때 표시 */
}

.notification-panel {
    display: none;
    position: absolute;
    width: 300px;
    height: 430px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.notification-header span {
    font-weight: bold;
    font-size: 16px;
}

.notification-panel .notification {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.notification-panel .notification:last-child {
    border-bottom: none;
}
.notification-panel .notification-time {
    font-size: 12px;
    color: #888;
}
.notification-panel .notification-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.notification-body {
    margin-bottom: 12px !important;
    font-size: 13px;
}

.notification.unwatched {
    background-color: #e4eaff;
}

.notification-time-delete-wrapper {
    display: flex;
    justify-content: space-between;
}