<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>TakeEat</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/member/member-common.css"/>
    <link rel="stylesheet" href="/css/member/signup.css"/>
</head>
<body>
<div id="contents">
    <div class="member-header">
        <img id="go-back" src="/images/member/left-arrow.png"/>
        <div>비밀번호 찾기</div>
        <img id="go-login" src="/images/member/cancel.png"/>
    </div>
    <div class="middle">
        <form th:action="@{/member/find-password}" th:object="${passwordFindRequest}" method="post">
            <div id="memberLoginId-input-frame">
                <div class="input-title">아이디</div>
                <input
                        type="text"
                        id="memberLoginId"
                        name="memberLoginId"
                        th:field="*{memberLoginId}"
                        th:errorclass="field-error"
                        placeholder="아이디를 입력해주세요"
                />
                <div class="field-error" th:errors="*{memberLoginId}">오류</div>
                <div class="caption">비밀번호의 경우 임시 비밀번호로 변경이 되어지고, 해당 비밀번호로 로그인을 진행하므로 로그인 이후에 비밀번호를 필수로 변경해 주세요.</div>
            </div>
            <div>
                <input type="submit" value="비밀번호 찾기" class="regist-btn"/>
            </div>
        </form>
    </div>
    <div class="footer">Copyright TAKE EAT. All Rights Reserved.</div>
</div>

<script src="/js/member/emailAndAuthCode.js"></script>
<script src="/js/member/member-header.js"></script>
</body>
</html>
