<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TakeEat</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/member/member-common.css" />
    <link rel="stylesheet" href="/css/member/findResult.css"/>
</head>
<body>
    <div class="find-contents-height">
        <div id="find-contents">
            <div class="center">
            <h2>아이디를 찾았습니다!</h2>
            </div>
            <div id="find-result-box">
                <span>검색결과 아이디는 아래와 같습니다.</span>
                <span id="result" th:text="${memberLoginId}">Error!</span>
            </div>
            <div id="button-box" class="center">
                <button class="button-design login-btn">로그인</button>
                <button class="button-design pw-btn">비밀번호 찾기</button>
            </div>
        </div>
    </div>
<script src="/js/member/findIdResult.js"></script>
</body>
</html>