<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TakeEat</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/member/member-common.css" />
    <link rel="stylesheet" href="/css/member/findResult.css"/>
</head>
<body>
<div class="find-contents-height">
    <div id="find-contents">
        <div class="center">
            <h2>비밀번호 변경완료!</h2>
        </div>
        <div id="find-result-box">
            <span>변경된 임시 비밀번호는 다음과 같습니다.</span>
            <span id="result" th:text="${memberPassword}">Error!</span>
        </div>
        <div id="button-box" class="center">
            <button class="button-design login-btn">로그인</button>
            <button class="button-design pw-btn">비밀번호 재변경</button>
        </div>
    </div>
</div>
<script src="/js/member/findPasswordResult.js"></script>
</body>
</html>