<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/member/loginForm.css" />
    <title>Title</title>
</head>
<body>
    <div id="contents">
        <form action="/login" method="post" >
            <input type="text" name="username" />
            <input type="password" name="password" />
            <button>로그인</button>
        </form>
        <div>
            <a href="">아이디 찾기</a>
            <a href="">비밀번호 찾기</a>
        </div>
        <button><a href="/member/policy-agreement">회원가입</a></button>
        <button><a href="/oauth2/authorization/kakao">카카오로 로그인</a></button>
    </div>
</body>
</html>