<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>TakeEat</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/member/member-common.css"/>
    <link rel="stylesheet" href="/css/member/signup.css"/>
</head>
<body>
<div id="contents">
    <div class="member-header">
        <img id="go-back" src="/images/member/left-arrow.png"/>
        <div>회원가입</div>
        <img id="go-login" src="/images/member/cancel.png"/>
    </div>
    <div class="middle">
        <form
                th:action="@{/member/signup}"
                th:object="${signupRequest}"
                method="post"
                enctype="multipart/form-data"
        >
            <div class="profile-user-frame">
                <img
                        id="profile-user-image"
                        src="/images/profile.jpg"
                        alt="Default Profile Image"
                /><br/>
                <input
                        type="file"
                        name="profile"
                        id="profile-user-img-save-btn"
                        accept="image/*"
                        style="display: none"
                />
                <input type="button" id="profile-update-btn"/>
            </div>
            <div>
                <div class="input-title">회원 유형</div>
                <div class="member-type">
                    <input
                            id="user-type-member"
                            type="radio"
                            name="memberRoleType"
                            value="ROLE_MEMBER"
                            checked
                    />
                    <label for="user-type-member">회원</label>
                    <input
                            id="user-type-owner"
                            type="radio"
                            name="memberRoleType"
                            value="ROLE_OWNER"
                    />
                    <label for="user-type-owner">사장님</label>
                </div>
            </div>
            <div id="id-input-frame">
                <div class="input-title">아이디</div>
                <input
                        type="text"
                        id="member-login-id"
                        name="memeberLoginId"
                        th:field="*{memberLoginId}"
                        th:errorclass="field-error"
                        placeholder="아이디를 입력해주세요"
                />
                <div class="field-error" th:errors="*{memberLoginId}">오류</div>
            </div>
            <div>
                <div class="input-title">이름</div>
                <input
                        type="text"
                        id="name"
                        name="name"
                        th:field="*{name}"
                        th:errorclass="field-error"
                        placeholder="이름을 입력해주세요"
                />
                <div class="field-error" th:errors="*{name}">오류</div>
            </div>
            <div>
                <div class="input-title">닉네임</div>
                <input
                        type="text"
                        id="nickname"
                        name="nickname"
                        th:field="*{nickname}"
                        th:errorclass="field-error"
                        placeholder="2~8글자 이내로 입력해주세요."
                />
                <div class="field-error" th:errors="*{nickname}">오류</div>
            </div>
            <div id="email-input-frame">
                <div class="input-title">이메일</div>
                <input
                        type="email"
                        id="email"
                        name="email"
                        th:field="*{email}"
                        th:errorclass="field-error"
                        placeholder="이메일을 입력해주세요"
                />
                <button id="auth-code-btn" type="button">발송</button><br/>
                <div class="field-error" th:errors="*{email}">오류</div>
                <input
                        type="text"
                        id="auth-code"
                        name="authCode"
                        th:field="*{authCode}"
                        th:errorclass="field-error"
                        placeholder="인증코드를 입력해주세요"
                />
                <div class="caption">계정 분실 시 본인인증 정보로 활용됩니다.</div>
                <div class="field-error" th:errors="*{authCode}">오류</div>
            </div>
            <div>
                <div class="input-title">비밀번호</div>
                <input
                        type="password"
                        id="password"
                        name="password"
                        th:field="*{password}"
                        th:errorclass="field-error"
                        placeholder="숫자, 영문, 특수문자 조합 최소 8자"
                /><br/>
                <div class="field-error" th:errors="*{password}">오류</div>
                <input
                        type="password"
                        id="passwordCheck"
                        name="passwordCheck"
                        th:field="*{passwordCheck}"
                        th:errorclass="field-error"
                        placeholder="비밀번호 재입력"
                />
                <div class="field-error" th:errors="*{passwordCheck}">오류</div>
            </div>
            <div>
                <div class="input-title">전화번호</div>
                <input
                        type="text"
                        id="phone"
                        name="phone"
                        th:field="*{phone}"
                        th:errorclass="field-error"
                        placeholder="-를 빼고 입력해주세요."
                />
                <div class="field-error" th:errors="*{phone}">오류</div>
            </div>
            <div>
                <input type="submit" value="회원가입" class="regist-btn"/>
            </div>
        </form>
    </div>
</div>
<script src="/js/member/signup.js"></script>
<script src="/js/member/emailAndAuthCode.js"></script>
<script src="/js/member/profileUpload.js"></script>
<script src="/js/member/member-header.js"></script>
</body>
</html>
