#container {
    flex: 1;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 20px;
    background-color: #fff;
}
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .line-container {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
    }
}


input[id="menuicon"] {
    display:none;
}
input[id="menuicon"]+label {
    display:block;
    width:30px;
    height:20px;
    position:relative;
    cursor:pointer;
}
input[id="menuicon"]+label span {
    margin-left: 20px;
    disply:block;
    position:absolute;
    width:100%;
    height:3px;
    border-eadius:30px;
    background:#000;
    transition:all .35s;
}
input[id="menuicon"]+label span:nth-child(1) {
    top:0;
}
input[id="menuicon"]+label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3) {
    bottom:0;
}
input[id="menuicon"]:checked + label span {
    z-index:2;
}
input[id="menuicon"]:checked + label span {
    background:#fff;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
    width:220px;
    height:100%;
    background:#222;
    position:fixed;
    top:0;
    left:-300px;
    z-index:1;
    transition:all .35s;
}
input[id="menuicon"]:checked + label + div {
    left:0;
}

.line-container{
    display: flex;
    align-items: flex-start;
}

.length-container {
    display: flex;
    flex-direction: column;
}
.main-menu {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}
.sub-menu {
    margin-left: 10px;
    margin-top:10px;
    font-size: 17px;
    color: white;
}
.icon-size{
    width: 30px;
    height: auto;
}
.side-margin{
    margin-left: 35px;
    margin-top: 80px;
}
.margin-top {
    margin-top: 30px;
}
#rectangle {
    width: 135px;
    height: 100px;
    background: #FFB36F;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 30px solid #FFB36F;
    border-bottom: 50px solid transparent;
}
.bar-text{
    text-align: right;
    font-size: 25px;
    margin-top: 33px;
    margin-right: 5px;
}
#middle-rectangle {
    width: 180px;
    height: 96.5px;
    border: solid 2px #FFB36F;
    margin-left: -30px;
}
.bar-text-m{
    text-align: right;
    font-size: 25px;
    margin-top: 33px;
    margin-right: 32px;
}
#end-triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 30px solid #FFB36F;
    border-bottom: 50px solid transparent;
}
#shadow-triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 50px solid transparent;
    margin-bottom: 50px;
}
#add-rectangle {
    width: 2px;
    height: 100px;
    background: #fff;
    margin-left: -169px;
}

#end-rectangle {
    width: 165px;
    height: 96.5px;
    margin-left: -36px;
    /*background: #FFB36F;*/
    border: solid 2px #FFB36F;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.bar-text-e{
    text-align: right;
    font-size: 25px;
    margin-top: -65px;
    margin-right: 18px;
}