<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TakeEat</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/payment/orderPaymentResult.css" />
</head>
<body>
<div id="contents">
    <div class="payment-result-box">
        <img src="/images/payment/payment-result.png" />
        <p>페이지 꾸밀 예정</p>
        <a href="/">탈출버튼</a>
    </div>
</div>
</body>
</html>