/*사이드바*/
input[id="menuicon"] {
    display:none;
}

input[id="menuicon"]+label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"]+label span {
    margin-left: 20px;
    display: block;
    position: fixed;
    width: 28px;
    height: 3px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    margin-top: 30px;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 0.97%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    top: 1.64%;
}

input[id="menuicon"]:checked + label span {
    z-index: 2;
}

input[id="menuicon"]:checked + label span {
    background: #fff;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 5px;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    top: 2.4px;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width: 220px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

/*정렬*/
.line-container{
    display: flex;
    align-items: flex-start;
}

.line-container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.length-container {
    display: flex;
    flex-direction: column;
}

/*사이드바 글자*/
.main-menu {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.sub-menu {
    margin-left: 10px;
    margin-top:10px;
    font-size: 14px;
    color: white;
}

.icon-size{
    width: 30px;
    height: auto;
}

.side-margin{
    margin-left: 35px;
    margin-top: 80px;
}

.linked-menu:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/*마진*/
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

/* ================================== */

* {
    font-family: "Noto Sans KR", sans-serif;
}

#container {
    flex: 1;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 20px;
    background-color: #fff;
}

.marketInfoContainer {
    width: 530px;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.marketInfo {
    font-size: 20px;
}

.marketDetailInfo {
    font-size: 18px;
}

#updateStatusBtn {
    border: none;
    background: #ffb36f;
    border-radius: 5px;
    padding: 5px 10px;
}

#status {
    font-weight: bold;
}

/* ON/OFF 토글 */
.wrapper {
    display: flex;
    align-items: center;
}

#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}

.switch_label:hover {
    background: #efefef;
}

.onf_btn {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #ffb36f;
    transition: 0.2s;
}

/* checking style */
#switch:checked+.switch_label {
    background: #ffb36f;
    border: 2px solid #ffb36f;
}

#switch:checked+.switch_label:hover {
    background: #f78e31;
    border: 2px solid #f78e31;
}

/* move */
#switch:checked+.switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

@media (max-width: 600px) {
    #container {
        margin-left: 250px;
    }
}