<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/notification/notificationMember.css" />
    <th:block th:replace="/notification/notificationHeader :: headerLayout"></th:block>
</head>
<body>
<th:block th:replace="/notification/notificationHeader :: userdata"></th:block>
    <div class="bell-section">
        <div class="bell-icon" id="bell-icon" th:classappend="${notifiactionsReadYn} ? 'has-notification' : ''">
            <i id="user-notification" class="fa-regular fa-bell"></i>
            <div class="notification-dot" id="notification-dot"></div>
            <div class="notification-panel" id="notification-panel">
                <div class="notification-header">
                    <span>알림</span>
                </div>
                <div class="notification-list">
                    <!-- 알림 아이템들이 여기에 추가됩니다 -->
                </div>
            </div>
        </div>
    </div>
    <button onclick="showNotification()">Show Notification</button>
    <button onclick="hideNotification()">Hide Notification</button>
    <button id="payment-complete">payment ok!!</button>

    <script src="/js/notification/notificationMember.js"></script>
</body>
</html>