<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
<th:block th:fragment="headerLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <script src="/js/notification/notificationHeader.js"></script>
</head>
</th:block>
<th:block th:fragment="userdata">
<header>
    <input id="user-userId" type="hidden" th:value="1"/>
</header>
</th:block>
</html>